#cart-content {

    #cart-page {
        padding-left: 0;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: #c81623;
            }
        }

        .cart-wrapper {
            min-height: 460px;

            .cart-title {
                font-weight: 700;
                color: #c81623;
            }

            .cart-breadcrumb {
                background-color: #f5f5f5;
                padding: 10px;

                .part-one {
                    text-align: left;

                    font {
                        margin-left: 20%;
                    }
                }
            }

            .cart-list {
                ul {
                    padding-left: 10px;

                    .goods-li {
                        height: 110px;
                        padding: 15px 0 10px;
                        overflow: hidden;

                        .quantity-warning {
                            font-size: 10px;
                            font-weight: 700;
                            color: #E93D2f;
                        }

                        .p-goods {
                            padding-left: 0;
                            height: inherit;

                            .cart-checkbox {
                                float: left;
                                width: 3%;
                                height: inherit;
                                padding-top: 5%;
                            }

                            .goods-item {
                                float: left;
                                width: 97%;
                                height: 80px;
                                overflow: hidden;

                                .p-img {
                                    float: left;
                                    width: 20%;
                                    height: inherit;
                                    border: 1px solid #eee;
                                    background: #fff;
                                    padding: 0;
                                    text-align: center;
                                    overflow: inherit;
                                }

                                .p-name {
                                    float: right;
                                    width: 80%;
                                    height: inherit;
                                    margin-top: 15px;
                                    overflow: inherit;
                                }
                            }
                        }

                        .p-price {
                            padding-top: 15px;

                            .price-show {
                                color: #333;
                                font-weight: 400;
                            }
                        }

                        .quantity-control {
                            padding: 0 4%;
                            padding-top: 15px;
                            height: 40px;

                            a {
                                display: block;
                                float: left;
                                width: 25%;
                                text-align: center;
                                height: 25px;
                                border: 1px solid #cacbcb;
                                color: #666;
                                font-size: 18px;
                                overflow: hidden;
                            }

                            .quantity-input {
                                width: 50%;
                                text-align: center;
                                display: block;
                                float: left;
                            }
                        }

                        .total-single, .goods-operate {
                            padding-top: 15px;
                        }

                        .total-price {
                            .total-number {
                                font-size: 20px;
                                color: #e4393c;
                                font-weight: 700;
                            }
                        }

                        .buy-total {
                            color: #fff;

                            a:hover {
                                color: #fff;
                            }
                        }
                    }

                    .total-li {
                        @extend .goods-li;
                        height: auto;
                    }

                    .goods-li-selected {
                        @extend .goods-li;
                        background: #fff4e8;
                    }

                    .disable-goods-li {
                        @extend .goods-li;
                        background: rgba(138, 109, 59, 0.29);
                    }

                    .no-goods {
                        padding: 30px;
                        font-size: 18px;

                        a {
                            color: #c81623;
                            font-size: 14px;
                        }
                    }
                }

                .page-wrapper {
                    padding: 20px;
                    padding-right: 0;

                    .page-block {
                        text-align: right;
                        height: 45px;
                        line-height: 45px;
                        overflow: hidden;

                        .page-ul {
                            margin: 0;
                            padding: 0;

                            li {
                                margin-left: 5px;
                                display: inline-block;
                            }

                            .less-single {
                                border: none;
                                font-size: 18px;
                                text-align: center;

                                &:hover {
                                    background-color: #fff;
                                }
                            }

                            .current-page {
                                border: none;
                                color: #c81623;

                                &:hover {
                                    background-color: #fff;
                                }
                            }
                        }
                    }

                    .redirect-wrapper {
                        height: 45px;
                        line-height: 45px;
                        overflow: hidden;
                        text-align: right;
                        padding-right: 0;

                        .goal-page {
                            width: 15%;
                            text-align: center;
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    }
                }
            }

        }
    }
}
