body {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }

    ul, li, ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    button {
        padding: 0;
        margin: 0;
        border: 0;
    }

    em, i, u {
        font-style: normal;
    }
}
