<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milton.shop.dao.PaymentMapper" >
  <resultMap id="BaseResultMap" type="com.milton.shop.model.Payment" >
    <id column="paymentid" property="paymentid" jdbcType="INTEGER" />
    <result column="payment_name" property="paymentName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from payment
    where paymentid = #{paymentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.milton.shop.model.Payment" >
    insert into payment (paymentid, payment_name)
    values (#{paymentid,jdbcType=INTEGER}, #{paymentName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.milton.shop.model.Payment" >
    update payment
    set payment_name = #{paymentName,jdbcType=VARCHAR}
    where paymentid = #{paymentid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select paymentid, payment_name
    from payment
    where paymentid = #{paymentid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select paymentid, payment_name
    from payment
  </select>
</mapper>