#order-create {
  color: #666; }
  #order-create .order-address .show-label {
    color: #333;
    display: block;
    padding-left: 0; }
  #order-create .order-address .font-eighteen {
    font-size: 18px; }
  #order-create .order-address .no-goods {
    color: #c81623; }
  #order-create .order-address .no-padding-left {
    padding-left: 0; }
  #order-create .order-address .margin-left-tp, #order-create .order-address .address-manage .address-group .address-single span {
    margin-left: 2%; }
  #order-create .order-address .margin-thirty {
    margin-top: 30px; }
  #order-create .order-address .btn-full {
    width: 100%; }
  #order-create .order-address .form-margin {
    margin-top: 20px; }
  #order-create .order-address .margin-left-thirty-five {
    margin-left: 35%; }
  #order-create .order-address .address-manage {
    padding-left: 0;
    border: 1px solid #f0f0f0; }
    #order-create .order-address .address-manage .address-group {
      font-size: 14px; }
      #order-create .order-address .address-manage .address-group .address-single {
        margin-top: 10px;
        overflow: hidden; }
        #order-create .order-address .address-manage .address-group .address-single .address-default {
          background-color: #999;
          color: #fff;
          padding: 0 3px; }
        #order-create .order-address .address-manage .address-group .address-single .item-selected {
          background-color: #fff;
          border-color: #e4393c; }
        #order-create .order-address .address-manage .address-group .address-single .address-btn {
          width: 10%;
          background-color: #fff; }
          #order-create .order-address .address-manage .address-group .address-single .address-btn:hover {
            border-color: #e4393c; }
      #order-create .order-address .address-manage .address-group .address-operate {
        margin-top: 20px; }
  #order-create .order-address .pay-goods, #order-create .order-address .payment-way, #order-create .order-address .order-pay {
    margin-top: 30px;
    padding-left: 0;
    border: 1px solid #f0f0f0;
    position: relative; }
    #order-create .order-address .pay-goods .part-one, #order-create .order-address .payment-way .part-one, #order-create .order-address .order-pay .part-one {
      text-align: center; }
  #order-create .order-address .payment-way .pay-ul .pay-li {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px 24px;
    margin-right: 1%;
    cursor: pointer; }
    #order-create .order-address .payment-way .pay-ul .pay-li:hover {
      border-color: #e4393c; }
  #order-create .order-address .payment-way .pay-ul .item-selected {
    background-color: #fff;
    border-color: #e4393c; }
  #order-create .order-address .order-pay {
    padding: 15px 10px 15px 0;
    line-height: 20px;
    text-align: right;
    border-top: 1px solid #e6e6e6;
    background-color: #f4f4f4; }
    #order-create .order-address .order-pay .pay-price {
      font-size: 20px;
      color: #e4393c;
      font-weight: 700;
      margin-left: 10%; }
  #order-create .order-address .order-commit {
    margin-top: 5px;
    margin-bottom: 30px; }

/*# sourceMappingURL=order-create.css.map */
