#goods-list {
  overflow: hidden; }
  #goods-list .list-wrapper {
    padding-left: 0; }
    #goods-list .list-wrapper a {
      color: inherit;
      text-decoration: none; }
      #goods-list .list-wrapper a:hover {
        color: #c81623; }
    #goods-list .list-wrapper .goods-li {
      float: left;
      width: 20%;
      height: 450px;
      margin-top: 10px;
      padding: 10px;
      padding-bottom: 0;
      overflow: hidden;
      border: none; }
      #goods-list .list-wrapper .goods-li .goods-model {
        width: 220px;
        height: 100%;
        margin: 0 auto; }
        #goods-list .list-wrapper .goods-li .goods-model .goods-img {
          width: 100%;
          height: 220px;
          display: block; }
        #goods-list .list-wrapper .goods-li .goods-model .goods-price {
          width: 100%;
          position: relative;
          line-height: 22px;
          height: 22px;
          overflow: hidden;
          margin: 0 0 8px; }
          #goods-list .list-wrapper .goods-li .goods-model .goods-price strong {
            font-size: 20px;
            color: #e4393c;
            font-weight: 400;
            font-family: Verdana; }
        #goods-list .list-wrapper .goods-li .goods-model .goods-describe {
          margin-top: 10px;
          width: 100%;
          height: 120px;
          overflow: hidden; }
        #goods-list .list-wrapper .goods-li .goods-model .goods-operation {
          width: 100%;
          height: 40px;
          overflow: hidden; }
          #goods-list .list-wrapper .goods-li .goods-model .goods-operation a {
            text-decoration: none;
            color: #fff; }
          #goods-list .list-wrapper .goods-li .goods-model .goods-operation .detail-btn {
            float: left;
            display: block;
            width: 30%; }
          #goods-list .list-wrapper .goods-li .goods-model .goods-operation .add-btn {
            display: block;
            float: right;
            width: 55%; }
  #goods-list .page-wrapper {
    padding: 20px; }
    #goods-list .page-wrapper .page-block {
      text-align: right;
      height: 45px;
      line-height: 45px;
      overflow: hidden;
      padding-top: 5px; }
      #goods-list .page-wrapper .page-block .page-ul {
        margin: 0;
        padding: 0; }
        #goods-list .page-wrapper .page-block .page-ul li {
          margin-left: 5px;
          display: inline-block; }
        #goods-list .page-wrapper .page-block .page-ul .less-single {
          border: none;
          font-size: 18px;
          text-align: center; }
          #goods-list .page-wrapper .page-block .page-ul .less-single:hover {
            background-color: #fff; }
        #goods-list .page-wrapper .page-block .page-ul .current-page {
          border: none;
          color: #c81623; }
          #goods-list .page-wrapper .page-block .page-ul .current-page:hover {
            background-color: #fff; }
    #goods-list .page-wrapper .redirect-wrapper {
      height: 45px;
      line-height: 45px;
      overflow: hidden;
      text-align: right; }
      #goods-list .page-wrapper .redirect-wrapper .goal-page {
        width: 15%;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px; }

/*# sourceMappingURL=goods-list.css.map */
